<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Client Authenticate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class='container'>
  <h1>Authentication</h1>
  <p>Client app will attempt to access oauth server authentication via oauth</p>
  <p>For this example, the following parameters will be included in the request query parameters:</p>
  <ul>
    <li>client_id: <%= client_id %></li>
    <li>redirect_uri: http://localhost:10080/wolf/oauth2/client_app</li>
    <li>response_type: code</li>
    <li>grant_type: authorization_code</li>
    <li>state: myState</li>
  </ul>
  <a href="http://localhost:10080/wolf/oauth2/authorize?grant_type=authorization_code&response_type=code&client_id=<%= client_id %>&redirect_uri=http://localhost:10080/wolf/oauth2/client_app&state=myState" class='btn btn-primary'>Login with Oauth Server</a>
</body>
</html>
